services:
  postgres:
    image: postgres:15-alpine
    container_name: nestjs_postgres
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nestjs_network
    restart: unless-stopped
  # app:
  #   image: hophong0310/nestjs-api:latest
  #   container_name: nestjs_app
  #   ports:
  #     - "0.0.0.0:${PORT:-3000}:3000"
  #   depends_on:
  #     - postgres
  #   networks:
  #     - nestjs_network
  #   restart: unless-stopped
  #   env_file:
  #     - .env
  
volumes:
  postgres_data:
  
networks:
  nestjs_network:
    driver: bridge

