name: build-and-push-docker-image

on:
  pull_request:
    branches: [master]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            hophong0310/nestjs-api:latest
            hophong0310/nestjs-api:${{ github.sha }}
          platforms: linux/amd64
          cache-from: type=registry,ref=hophong0310/nestjs-api:buildcache
          cache-to: type=registry,ref=hophong0310/nestjs-api:buildcache,mode=max